body {
    background: linear-gradient(to right, #f65050, #4084ec);
    font-family: cursive;
}

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div {
    display: flex
    ;
        gap: 37px;
}

#myBtn1, #myBtn2 {
    background: rgb(248, 6, 103);
    outline: none;
    border: none;
    padding: 10px 40px;
    border-radius: 50px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border: 2px solid #fff;
}

#myBtn2 {
    background-color: rgb(0, 89, 214);
}

h2 {
    color: #fff;
    text-transform: uppercase;
}

.copy_code {
    background: #ebebeb2c;
    padding: 26px;
    font-size: 1rem;
    font-weight: 700;
    border-left: 6px solid #ffffff;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    overflow: hidden;
}

.textbox {
    position: absolute;
    right: 0px;
    top: -1px;
    padding: 6px 30px;
    background: #ffffff82;
    border: 1px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-bottom-left-radius: 27px;
}

.textbox img {
    width: 14px;
}


